body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

/*.container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    width: fit-content;*/
/*    !*justify-content: center;*!*/
/*}*/


.container {
    -ms-overflow-style: none; /* Gestion IE */

    position: relative;
    width: 80%;
    max-width: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Gestion standard */
}
.container::-webkit-scrollbar{
    display: none; /* Gestion base chromium */
}

.carousel-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Gestion IE */
    scrollbar-width: none; /* Gestion standard */

    transition: transform 0.5s ease-in-out;
}
carousel-container::-webkit-scrollbar{
    display: none; /* Gestion base chromium */
}

.carousel-item {
    flex: 0 0 25%;
    padding: 20px;
    text-align: center;
    /*background-color: white;*/
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}

.carousel-button {
  width:48px;
  height:48px;
  padding:0;
  border:0;
  display:flex;
  justify-content:center;
  align-items:center;
  pointer-events:all;
  cursor:pointer;
  color: white;
  background:deepskyblue;
  border-radius:50%;
  /*box-shadow:var(--carousel-button-shadow, none);*/
  transition:opacity .15s ease
}
/*section{*/
/*    -ms-overflow-style: none; !* Gestion IE *!*/
/*    !*display: flex;*!*/
/*    !*flex-direction: row;*!*/
/*    !*flex-wrap: nowrap;*!*/
/*    !*max-width: 44rem;*!*/
/*    !*overflow: scroll;*!*/
/*    scrollbar-width: none; !* Gestion standard *!*/
/*}*/
/*section::-webkit-scrollbar{*/
/*    display: none; !* Gestion base chromium *!*/
/*}*/


/*.carrouselItems {*/
/*    !*border-radius: 1rem;*!*/
/*    !*overflow: hidden;*!*/
/*}*/

/*.carrouselItems img {*/
/*    border-radius: 0.5rem;*/
/*    width: 10rem;*/
/*    margin: 0.5rem;*/

/*}*/