:root{
    -ms-overflow-style: none; /* Gestion IE */
    scrollbar-width: none; /* Gestion standard */
}
:root::-webkit-scrollbar{
    display: none; /* Gestion base chromium */
}



body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*height: 100vh;*/
}
header {
    max-height: 20vh;
    width: 80%;
    max-width: 1000px;
    display: flex;

    background-color: antiquewhite;
}
header img {
    max-height: 150px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    /*margin-top: 5vh;*/
    width: 80%;
    max-width: 1000px;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
}


/* CSS Best-movie */
.best-movie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
.movie-details {
    flex: 2;
    padding: 20px;
}

.movie-title {
    /*font-size: 24px;*/
    /*margin-bottom: 10px;*/
}

.movie-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.movie-details button {
    background-color: #fcfbfb;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;

    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.movie-details button:hover {
    background-color: #ffffff95;
    scale: 1.1;
    transition: background-color 0.3s ease;

}
.image-container{
    flex:1;
    text-align: center;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
/* CSS carousel*/

.carousel{
    position: relative;
    margin: 10% 0;

}

.carousel-container {
    display: flex;
    /*flex-grow: 0;*/
    flex-direction: row;
    overflow-x: scroll;

    -ms-overflow-style: none; /* Gestion IE */
    scrollbar-width: none; /* Gestion standard */

    transition: transform 0.5s ease-in-out;
}
.carousel-container::-webkit-scrollbar{
    display: none; /* Gestion base chromium */
}

.carousel-item {
    flex: 1 0 25%;
    display: flex;
    justify-content: center;
    align-content: center;
    /*flex-grow:0;*/
    /*padding: 20px;*/
    text-align: center;
    /*background-color: white;*/
    border-radius: 10px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    /*margin: 0 10px;*/
    margin: 0 auto;
}

.carousel-button {
    position: absolute;
    width:40px;
    height:40px;
    top:50%;
    margin-top: -20px;
    padding:0;
    border:0;
    cursor:pointer;
    color: white;
    background:deepskyblue;
    border-radius:50%;
    /*box-shadow:var(--carousel-button-shadow, none);*/
    transition:opacity .15s ease;
}
.carousel-button.previous{
    left:-20px;
}
.carousel-button.next{
    right:-20px;
}
.button-hidden{
    display: None;
}
.carousel img {
    width: 100%;
    max-width: 182px;
    height: 100%;
    max-height: 268px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/*section{*/
/*    -ms-overflow-style: none; !* Gestion IE *!*/
/*    !*display: flex;*!*/
/*    !*flex-direction: row;*!*/
/*    !*flex-wrap: nowrap;*!*/
/*    !*max-width: 44rem;*!*/
/*    !*overflow: scroll;*!*/
/*    scrollbar-width: none; !* Gestion standard *!*/
/*}*/
/*section::-webkit-scrollbar{*/
/*    display: none; !* Gestion base chromium *!*/
/*}*/


/*.carrouselItems {*/
/*    !*border-radius: 1rem;*!*/
/*    !*overflow: hidden;*!*/
/*}*/

/*.carrouselItems img {*/
/*    border-radius: 0.5rem;*/
/*    width: 10rem;*/
/*    margin: 0.5rem;*/

/*}*/